@media screen and (max-width: 1100px) {
  .header__nubmer {
    display: none;
  }

  .list {
    max-width: 600px;
  }

  .list--social {
    width: 180px;
  }

  .footer__rights {
    right: 30px;
  }

  .decoration__elem--1 {
    left: 551px;
  }

  .decoration__elem--3 {
    left: 502px;
  }

  .decoration__elem--4 {
    left: 419px;
  }

  .decoration__elem--5 {
    left: 748px;
  }

  .list--links {
    max-width: 500px;
  }

  .list--links .list__item:last-child  {
    display: none;
  }

  .contactContainer--footer {
    max-width: 190px;
  }

  .contactContainer--footer .contact__address {
    text-align: end;
  }

  .contactContainer--footer .list--social {
    max-width: 140px;
  }

  .contactContainer--footer .number, .contactContainer--footer .contact__address {
    font-size: 14px;
  }

  .footer .menu__link--style {
    width: 143px;
  }

  .footer .menu__linkContainer {
    height: 160px;
  }
}

@media screen and (max-width: 820px) {
  body {
    z-index: -3;
    margin: 0;
    max-width: 820px;
    width: 100%;
    height: 100%;
    background-color: var(--black);
  }

  .container {
    max-width: 698px;
    width: 100%;
  }

  .header {
    position: relative;
    display: block;
    max-width: 820px;
    height: 55px;
    background-color: var(--black);
    z-index: 1;
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 18px 16px 22px;
    width: 100%;
    height: 55px;
  }

  .contactContainer {
    display: none;
  }

  .logo__container {
    gap: 8px;
    margin-right: 35px;
  }

  .logo__txt {
    display: none;
  }

  .list--links {
    margin: 0;
  }

  .list--links .list__item:last-child  {
    display: block;
  }

  .header__nubmer {
    display: none;
  }

  .list--links {
    height: 15px;
  }

  .list--social {
    display: none;
  }

  .header__link {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .decoration__wrapper {
    display: none;
  }

  .hero {
    margin: 0;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
  }

  .hero__container {
    display: block;
    max-width: 698px;
    height: 535px;
    padding: 40px 34px 59px 14px;
  }

  .left {
    height: 254px;
  }

  .right {
    margin: 0;
    margin-top: 46px;
    height: 110px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .right__title {
    margin-left: 1px;
    margin-bottom: 19px;
    max-width: none;
    width: 272px;
    text-align: start;
    letter-spacing: 0.002em;
  }

  .right__titleItem {
    text-transform: lowercase;
    letter-spacing: 0.002em;
  }

  .grid {
    display: none;
  }

  .mediaGrid {
    display: -ms-grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-columns: 1fr 12px 1fr;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14px;
    margin-left: 2px;
  }

  .mediaGrid__item:not(:last-child) {
    width: 124px;
  }

  .mediaGift {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    gap: 5px;
  }

  .mediaGift__elem {
    margin-top: -1px;
    width: 10px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, color-stop(36.99%, #FCB045), to(#FD1D1D));
    background: -o-linear-gradient(left, #FCB045 36.99%, #FD1D1D 100%);
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%)
  }

  .mediaGift__title {
    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
  }

  .right__button {
    display: none;
  }

  .footer {
    position: relative;
    z-index: 1;
    margin: 0;
    min-height: 515px;
    background-color: var(--black);

  }

  .footer__container {
    display: block;
    padding: 42px 15px 61px 17px;
    height: 100%;
  }

  .menu {
    margin-bottom: 28px;
    max-width: 508px;
    height: 175px;
  }

  .menu__title {
    margin-bottom: 20px;
  }

  .footer .menu__linkContainer {
    max-width: 508px;
    width: 100%;
    height: 130px;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__link--style {
    display: none;
  }

  .menu__link--media {
    display: inline-block;
  }

  .menu__link {
    width: 121px;
  }

  .about {
    margin-bottom: 31px;
  }

  .about__link, .menu__link {
    font-size: 16px;
  }

  .about__linkContainer {
    width: 271px;
    margin: 1px 0 0 -2px;
    gap: 10px;
  }

  .footer__title {
    font-size: 12px;
  }

  .contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contactContainer--footer {
    max-width: 508px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    margin-left: -1px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 78px;
  }

  .footer .number, .footer .list--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer .number {
    margin-bottom: 10px;
    margin-left: -1px;
  }

  .footer .list--social {
    margin-bottom: 13px;
    width: 92px;
  }

  .link--social svg {
    width: 24px;
    height: 24px;
  }

  .contact__address {
    margin-left: -1px;
    font-size: 14px;
  }

  .footer__rights {
    position: absolute;
    left: 15px;
    bottom: 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 520px) {
  body {
    z-index: -3;
    margin: 0;
    max-width: 820px;
    width: 100%;
    height: 1115px;
    background-color: var(--black);
  }

  .container {
    max-width: 698px;
    width: 100%;
  }

  .header {
    position: relative;
    display: block;
    max-width: 820px;
    height: 55px;
    background-color: var(--black);
    z-index: 1;
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding: 18px 16px 22px;

    width: 100%;
    height: 55px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }

  .contactContainer {
    display: none;
  }

  .logo__container {
    display: none;
  }

  .logo__txt {
    display: none;
  }

  .list--links {
    margin: 0;
  }

  .list--links .list__item:last-child  {
    display: none;
  }

  .header__nubmer {
    display: none;
  }

  .list--links {
    height: 15px;
  }

  .list--social {
    display: none;
  }

  .header__link {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .decoration__wrapper {
    display: none;
  }

  .hero {
    margin: 0;
  }

  .hero__container {
    display: block;
    max-width: 698px;
    height: 445px;
    padding: 40px 34px 59px 14px;
  }

  .left {
    height: 191px;
  }

  .left__title {
    margin: 0;
    margin-bottom: 15px;
  }

  .left__title span {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
  }

  .left__title .left__titleItem {
    margin-left: 1px;
    font-size: 36px;
    font-weight: 900;
  }

  .left__text {
    margin-left: 0;
    font-size: 18px;
    font-weight: 400;
  }

  .right {
    margin: 0;
    margin-top: 46px;
    height: 110px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .right__title {
    margin-left: 1px;
    margin-bottom: 19px;
    max-width: none;
    width: 272px;
    text-align: start;
    letter-spacing: 0.002em;
  }

  .right__titleItem {
    text-transform: lowercase;
    letter-spacing: 0.002em;
  }

  .grid {
    display: none;
  }

  .mediaGrid {
    display: -ms-grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-columns: 1fr 12px 1fr;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14px;
    margin-left: 2px;
  }

  .mediaGrid__item:not(:last-child) {
    width: 124px;
  }

  .mediaGift {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    gap: 5px;
  }

  .mediaGift__elem {
    margin-top: -1px;
    width: 10px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, color-stop(36.99%, #FCB045), to(#FD1D1D));
    background: -o-linear-gradient(left, #FCB045 36.99%, #FD1D1D 100%);
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%)
  }

  .mediaGift__title{
    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
  }

  .right__button {
    display: none;
  }

  .footer {
    height: 615px;
  }

  .menu {
    margin-bottom: 30px;
    max-width: 289px;
    min-height: none;
    height: 177px;
  }

  .menu__title {
    margin-bottom: 20px;
  }

  .footer .menu__linkContainer {
    max-width: none;
    width: 283px;
    height: 145px;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__link, .menu__link {
    font-size: 14px;
  }

  .contactContainer--footer {
    /* max-width: none; */
    display: block;
    margin-top: 1px;
    margin-left: -1px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 78px;
  }

  .contactContainer--footer .number {
    font-size: 16px;
    letter-spacing: 0.009em;
  }

  .contactContainer--footer .contact__address {
    text-align: start;
  }

}
